.box-about-us
{
    height: 400px;
    background-color:rgb(217,217,217);
    width: 300px;
}


.circle{
    display: inline-block;
    height: 75px;
    width: 75px;
    background-color:rgb(217,217,217);
    border-radius: 50%;
    border: 1px solid black;
}
.c1{
    position: absolute;
    right: 45%;
     
}
.c2{
    position: absolute;
    left: 54%;

}
.c3{
    position: absolute;
    left: 58%;
}
.c4{
    position: absolute;
    left: 62%;

}
.circle-bottom{
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 2px solid black; */
}
