h1{
    color: rgb(5, 5, 117);
    font-weight: 600;
    font-size: 3.8rem;
    /* text-align: justify; */
text-align: start;
}
.body-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
}
p{
    font-size: 1.5rem;
    text-align: start;
}
.button{
    align-self:baseline
    /* justify-self: fle; */

}