.h2-body1{
    text-align:end;
    /* display: table-caption; */
    word-spacing: 9999rem;
    /* text-align: right; */;
    /* padding-right: 5rem;
    padding-top: 3rem; */
}
.top-right{
    /* margin-left: 10rem;
    margin-top: 3rem;
    width: 30rem;
    text-align: start; */
    
}
.h2-top-right{
    /* font-size: 2.1rem; */
}
.product{
    margin-top: 50px;
}
